[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/SimpleWebApp
Environment="PATH=/home/ubuntu/SimpleWebApp/venv/bin"
ExecStart=bash -c "export USERNAME=$(/usr/bin/cat /etc/ecodata/username.txt) && export PASSWORD=$(/usr/bin/cat /etc/ecodata/password.txt) && /home/ubuntu/SimpleWebApp/venv/bin/gunicorn --workers 1 --bind 0.0.0.0:5001 wsgi:app"

[Install]
WantedBy=multi-user.target