
<!doctype html>
<body>
<title>Chutes Analyse</title>
<h1>Chutes</h1>
<hr>
<h2>View</h2>
<style type="text/css" media=screen>
    select {  
        width: 560px;  
        height: 260px;  
       } 
</style>
<div style="text-align:center">

    <img id="image">

    <input type="text" placeholder="identifier" id="identifier">
    <input type="text" placeholder="interval in second(s)" id="intervalSec">
    <button class="button" id="start">Start</button>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"     integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>

        console.log(" ... script")

        let button = document.getElementById("start")
        button.addEventListener('click', function(ev) {
            getresult();
                    ev.preventDefault();
                }, false);

        function getresult()
        {
            console.log(" ... get result")
            document.getElementById("start").disabled = true; 

            let inputVal = document.getElementById("intervalSec").value;

            let camId = document.getElementById("identifier").value;
            var urlHost = window.location.host
            var urlProtocol = window.location.protocol
            var urlRoot = urlProtocol + "//" + urlHost
            // console.log(" ... urlRoot:" + urlRoot)
            const url = urlRoot + "/result/" + camId;
            $.ajax({
                // url: 'http://127.0.0.1:5000/result/'+camId,
                url: url,
                type: 'GET',
                contentType: "image/png",
                success: function(result) {
                document.getElementById('image').src = 'data:image/gif;base64,' + result;
                }
            });

            if(inputVal=="")
            {
                console.log("empty string, set interval to 1")
                setTimeout(getresult, 1000);
            }
            else
            {
                let valueInterval = parseInt(inputVal)
                console.log("interval=" + valueInterval)

                if(valueInterval < 1){
                    setTimeout(getresult, 1000);
                }
                else{
                    setTimeout(getresult, valueInterval*1000);
                }
            }

            getResultList()

        }



        // document.addEventListener('DOMContentLoaded', function () {
          //   var selectList = document.getElementById('selectList');
          //   var selectedItemDisplay = document.getElementById('selectedItem');
           // var items = ['Item 1', 'Item 2', 'Item 3', 'Item 4', 'Item 5'];
            //console.log(" ... items: " + typeof(items) + "=>" + items)
            //function populateSelectList() {
                //for (var i = 0; i < items.length; i++) {
                 //   var option = document.createElement('option');
                   // option.value = items[i];
                    //option.text = items[i];
                    //selectList.add(option);
                //}
            //}
            //populateSelectList();
        
            // Event listener for the select list change event
            //selectList.addEventListener('change', function () {
            //    // Update the display area with the selected item
            //    selectedItemDisplay.textContent = selectList.value;
            //    getResultList()
            //});

            // selectList.setAttribute('multiple', '')
        // });

        function getResultList()
        {
            console.log(" ... here")
            var urlHost = window.location.host
            var urlProtocol = window.location.protocol
            var urlRoot = urlProtocol + "//" + urlHost
            const url2 = urlRoot + "/resultListProcessed"
            // var responseList = "";
            $.ajax({
                url: url2,
                async: false,
                type: 'GET',
                success: function(res)
                {
                    async function deleteList(){
                        // with jquiery it works
                        $("#selectList").empty();

                        // with js it does not work (not all items deleted)
                        //var selectList = document.getElementById('selectList');
                        //var currlength = selectList.length
                        //console.log(" ... current length before deletion: " + currlength)
                        //for (var ii = 0; ii < currlength; ii++) {
                        //    console.log(" ... GET2 remove item: " + ii)
                        //    selectList.remove(ii)
                        //}
                        var currlength2 = selectList.length
                        console.log(" ... current length after deletion: " + currlength2)
                        return;
                      };
                    
                    async function updateList()
                    {
                        await deleteList();
                        var currlength3 = selectList.length
                        console.log(" ... current length before adding items: " + currlength3)

                        var text = res.responseText;
                        var responseList = res
                        // console.log(" ... GET2 response list: " + typeof(responseList) + " =>" + responseList)
                        var responseList2 = responseList.split("\n");
                        // console.log(" ... GET2 response list2: " + typeof(responseList2) + " =>" + responseList2)
                        // document.getElementById("responseList").value = responseList.split("\n");
                        // then you can manipulate your text as you wish
                        for (var i = 0; i < responseList2.length; i++) {
                            var option = document.createElement('option');
                            option.value = responseList2[i];
                            option.text = responseList2[i];
                            selectList.add(option);
                            console.log(" ... GET2 add item: " + option.text)
                        }

                        selectList.setAttribute('multiple', '')
                    }

                    updateList();
                }
            });
            // console.log(" ... responseList" + responseList)
        }

    </script> 

</div>

<hr>
<h2>Récupérer un résultat</h2>

<div style="text-align:center">

    <br>
    <div>
        <label for="selectList">Select an item:</label>
        <select id="selectList"></select>
    </div>
    <div>
        <p>Selected Item: <span id="selectedItem"></span></p>
    </div>

    <text id="resultListProcessed" text="resultListProcessed here">

    <button class="button" id="startSelect" >StartSelect</button>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"     integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>


        

        let buttonSelect = document.getElementById("startSelect")
        buttonSelect.addEventListener('click', function(ev) {
                    getresultSelect();
                    ev.preventDefault();
                }, false);

        function getresultSelect()
        {
            var selectList = document.getElementById("selectList");

            var currlength4 = selectList.length
            console.log(" ... current length before seleting one item: " + currlength4)

            // all sames !
            // var value = selectList.value;
            // var ov = selectList.options[selectList.selectedIndex].value;
            var text = selectList.options[selectList.selectedIndex].text;

            document.getElementById("startSelect").disabled = false; 

            let camId = document.getElementById("identifier").value;
            var urlHost = window.location.host
            var urlProtocol = window.location.protocol
            var urlRoot = urlProtocol + "//" + urlHost
            // console.log(" ... urlRoot:" + urlRoot)

here get back ups images correspinding to var 'text' above 

            const url = urlRoot + "/result/" + camId;
            $.ajax({
                // url: 'http://127.0.0.1:5000/result/'+camId,
                url: url,
                type: 'GET',
                contentType: "image/png",
                success: function(result) {
                document.getElementById('imagepast').src = 'data:image/gif;base64,' + result;
                }
            });

            // var urlHost = window.location.host
            // var urlProtocol = window.location.protocol
            // var urlRoot = urlProtocol + "//" + urlHost
            // const url2 = urlRoot + "/resultListProcessed"

            // $.ajax({
                // url: url2,
                // type: 'GET',
                // success: function(resultListProcessed) {
                // document.getElementById('resultListProcessed') = resultListProcessed;
                // }
            // });

            // $.ajax({
            //     url: url2,
            //     type: 'GET',
            //     success: function(res) {
            //         var text = res.responseText;
            //         console.log(" ... GET2 = " + text)
            //         // then you can manipulate your text as you wish
            //     }
            // });

            // var responseList = [];
            // $.ajax({
                // url: url2,
                // async: false,
                // type: 'GET',
                // success: function(res) {
                    // var text = res.responseText;
                    // responseList = res
                    // console.log(" ... GET2 response list = " + responseList)
                    // // document.getElementById("responseList").value = responseList.split("\n");
                    // // then you can manipulate your text as you wish
                // }
            // });



            // fetch(url2)
            // .then(response => response.json())
            // .then(data => handleResponse(data))
            // .catch(error => console.error('Error:', error));

            // Assuming the response is an array of strings
            // var listContainer = document.getElementById('TEST');
        
            // Clear existing content
            // listContainer.innerHTML = '';
        
            // Create a list and add strings to it
            // var ul = document.createElement('ul');
            // response.forEach(function(item) {
                // var li = document.createElement('li');
                // li.appendChild(document.createTextNode(item));
                // ul.appendChild(li);
            // });
        
            // Append the list to the container
            // listContainer.appendChild(ul);

        }

        // script.js

        

    </script> 

    <img id="imagepast">

</div>

<!--div style="text-align:left">
    Existing results :
    <ul>
    {% for folder in folders %}
        <li>{{ folder }}</li>
    {% endfor %}
    </ul>
</div-->